<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar" th:fragment="sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-inbox fa-fw"></i> Inbox
            </a>

            <ul class="nav nav-pills flex-column pl-5">
                <li class="nav-item">
                    <a th:href="@{/admin/association/inbox}" class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/feedback/admin/association/inbox' ? 'active':''}">
                        Association
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/education/inbox}" class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/feedback/admin/education/inbox' ? 'active':''}">
                        Education
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-archive fa-fw"></i> Archive
            </a>

            <ul class="nav nav-pills flex-column pl-5">
                <li class="nav-item">
                    <a th:href="@{/admin/association/archive}" class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/feedback/admin/association/archive' ? 'active':''}">
                        Association
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/education/archive}" class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/feedback/admin/education/archive' ? 'active':''}">
                        Education
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a th:href="@{/admin/settings}" class="nav-link"
               th:classappend="${#httpServletRequest.getRequestURI() == '/feedback/admin/settings' ? 'active':''}">
                <i class="fas fa-fw fa-cogs"></i> Settings
            </a>
        </li>
    </ul>
</nav>
</body>
</html>