<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/admin" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>FeedbackTool Settings</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col">
            <h2 class="display-4">Settings</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Fill in as a comma separated list of course codes.
        </div>
    </div>

    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <p th:text="${successMessage}">message</p>
    </div>

    <div th:if="${errorMessage}" class="alert alert-warning" role="alert">
        <p th:text="${errorMessage}">message</p>
    </div>

    <div class="row">
        <div class="col">
            <form class="form-horizontal" th:object="${courses}" th:action="@{/admin/course/settings/load}"
                  method="post">
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Load/update courses</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" th:field="*{courseLoadList}"
                               placeholder="(e.g. TI1206, TI3306, TW3510)"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-2">
                        <button type="submit" class="btn btn-secondary">Load courses</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>