<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Settings</title>
</head>
<body>

<div layout:fragment="content">

    <h2>Settings</h2>
    Fill in courses as comma separated list of course codes (e.g. TI1206,TI3306,TW3510).
    <br/> <br/>

    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}">success message</p>
    </div>

    <form class="form-horizontal" th:object="${courses}" th:action="@{/admin/course/settings/load}" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">Load courses</label>
            <div class="col-md-10">
                <input  type="text" class="form-control" th:field="*{courseLoadList}" placeholder="(e.g. TI1206,TI3306,TW3510)"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Load courses</button>
    </form> <br/> <br/> <br/>
    <form class="form-horizontal" th:object="${courses}" th:action="@{/admin/course/settings/delete}" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">Delete courses</label>
            <div class="col-md-10">
                <input  type="text" class="form-control" th:field="*{courseDeleteList}" placeholder="(e.g. TI1206,TI3306,TW3510)"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Delete courses</button>
    </form>

    <br/><br/><br/>

</div>

</body>
</html>