<!DOCTYPE html>
<layout:html lang="en"
			 xmlns:th="http://www.thymeleaf.org"
			 layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>View Course</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<h2 th:text="${course.name}">View course</h2>

		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Course Code</label>
				<div class="col-md-10">
					<p class="form-control-static" th:text="${course.courseCode}">courseCode</p>
				</div>
			</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Program</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${course.program}">program</p>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Instructor</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${course.instructorName}">instructor name</p>
		    	</div>
		  	</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Instructor Mail</label>
				<div class="col-md-10">
					<a class="form-control-static" th:text="${course.instructorMail}"
					   th:href="'mailto:' + ${course.instructorMail} + '?Subject=Feedback regarding ' + ${course.courseCode}">instructor mail</a>
				</div>
			</div>
		</form>

		<br/>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Posted On</th>
				<th>Subject</th>
				<th>Type</th>
				<th>Handled</th>
				<th>View</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="post : ${feedbackOnCourse}">
				<td th:text="${#calendars.format(post.postedOn,'dd/MM/yyyy HH:mm:ss')}">posted on</td>
				<td th:text="${post.subject}">subject</td>
				<td th:text="${post.feedbackType}">feedback type</td>
				<td><a href="#" th:href="@{/admin/education/handle/} + ${post.id}" th:text="${post.handled}">handled</a></td>
				<td><a href="#" th:href="@{/admin/education/} + ${post.id}">View</a></td>
			</tr>
			</tbody>
		</table>

		<br/><br/>

		<p th:if="${feedbackOnCourse.size() == 0}">
		<div class="alert alert-success" role="alert">No feedback on this course.</div>
		</p>
	</div>
		
</body>
</layout:html>