<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>CH FeedbackTool</title>
</head>
<body>
		
	<div layout:fragment="content">
        <div class="row">
            <div class="col text-center my-4">
                <h4 class="display-4">Write your feedback on education</h4>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div th:if="${message}" class="alert alert-success" role="alert">
                    <p th:text="${message}">success message</p>
                </div>

                <div th:if="${courseCodeError}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    You entered an unknown course code. If you entered a correct course code, please click
                    <a href="#"
                       th:href="'mailto:education@ch.tudelft.nl?subject=Course missing in FeedbackTool'">here</a>
                    to let us know the course is missing!
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="form" th:object="${feedback}" th:action="@{/education/create}" method="post">
                    <div class="form-group row" th:classappend="${#fields.hasErrors('courseCode')}? 'has-error'">
                        <label class="col-12 col-md-3 control-label">Course code<span class="required">*</span></label>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control awesomplete" list="courses" th:field="*{courseCode}"
                                   placeholder="Type the course code or name" autocomplete="off"
                                   th:classappend="${#fields.hasErrors('courseCode')} ? 'is-invalid'"/>
                            <datalist id="courses">
                                <option th:each="course : ${courses}" th:value="${course.courseCode}"
                                        th:text="${course}">Course
                                </option>
                            </datalist>
                            <span th:errors="*{courseCode}" class="invalid-feedback">Course Errors</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-3 control-label">Type <span class="required">*</span></label>
                        <div class="col-12 col-md-9">
                            <select class="form-control" th:field="*{feedbackType}"
                                    th:classappend="${#fields.hasErrors('feedbackType')} ? 'is-invalid'">
                                <option value="">Select Type</option>
                                <option th:each="type : ${T(ch.wisv.domain.feedback.FeedbackType).values()}"
                                        th:value="${type}"
                                        th:text="${type}">Select type
                                </option>
                            </select>
                            <span th:errors="*{feedbackType}" class="invalid-feedback">Type Errors</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-3 control-label">Subject <span class="required">*</span></label>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control" th:field="*{subject}"
                                   th:value="${feedback.getSubject()}"
                                   th:classappend="${#fields.hasErrors('subject')} ? 'is-invalid'"
                                   placeholder="Short description of your feedback"/>
                            <span th:errors="*{subject}" class="invalid-feedback">Subject Errors</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-3 control-label">Feedback <span class="required">*</span></label>
                        <div class="col-12 col-md-9">
							<textarea class="form-control" rows="7" placeholder="Tell us all about it!"
                                      th:field="*{body}" th:value="${feedback.getBody()}"
                                      th:classappend="${#fields.hasErrors('body')} ? 'is-invalid'"></textarea>
                            <span th:errors="*{body}" class="invalid-feedback">Body Errors</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-3 control-label">Your name</label>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control" th:field="*{senderName}"
                                   th:value="${feedback.getSenderName()}"
                                   placeholder="(Optional) Your name"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-3 control-label">Your email</label>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control" th:field="*{senderMail}"
                                   placeholder="(Optional) Your email"
                                   th:value="${feedback.getSenderMail()}"
                                   th:classappend="${#fields.hasErrors('senderMail')} ? 'is-invalid'"/>

                            <span th:errors="*{senderMail}" class="invalid-feedback">Sender Mail Errors</span>
                            <small class="help-text text-muted">
                                Fill in your email to receive a copy of your feedback
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-9 offset-md-3">
                            <button type="submit" class="btn btn-secondary">Submit feedback</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</body>
</html>