<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>CH FeedbackTool</title>
</head>
<body>
		
	<div layout:fragment="content">
		
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<h4>Do you want to give feedback on education or association?</h4>
				<a th:href="@{/education/create}" class="btn btn-default">Education</a>
				<a th:href="@{/association/create}" class="btn btn-default">Association</a>
			</div>
		</div>
		
	</div>
		
</body>
</html>