<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/admin">
<head>
    <title>CH Feedback Tool | Association Inbox</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}">success message</p>
    </div>

    <table class="table table-striped" id="inboxTables">
        <thead class="thead-inverse bg-primary">
        <tr>
            <th>Posted On</th>
            <th>Subject</th>
            <th>Type</th>
            <th>Handled</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}" th:onclick="'document.location=' + ${post.id}" style="cursor:pointer">
            <td th:text="${#calendars.format(post.postedOn,'dd/MM/yyyy HH:mm:ss')}">posted on</td>
            <td th:text="${post.subject}">subject</td>
            <td>
                <i th:if="${post.feedbackType == T(ch.wisv.domain.feedback.FeedbackType).Positive}"
                   class="fas fa-smile fa-fw text-success"></i>
                <i th:if="${post.feedbackType == T(ch.wisv.domain.feedback.FeedbackType).Negative}"
                   class="fas fa-frown fa-fw text-danger"></i>
                <i th:if="${post.feedbackType == T(ch.wisv.domain.feedback.FeedbackType).Suggestion}"
                   class="fas fa-meh fa-fw text-warning"></i>
                <span th:text="${post.feedbackType}"></span>
            </td>
            <td class="text-right">
                <a class="btn btn-sm btn-info"
                   th:href="@{/admin/association/handle/} + ${post.id}">
                    <i class="fas fa-archive"></i> Archive
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script layout:fragment="script">
    $(document).ready(function () {
        $("#inboxTables").DataTable();
    });
</script>
</body>
</html>